<p>Testando o meu primeiro componente!</p>

<h1>O que é angular?</h1>
<table>
  <tr>
    <td>Um framework com base em linguagem JavaScript;</td>
  </tr>
  <tr>
    <td>Utilizado para criação de SAPs;</td>
  </tr>
  <tr>
    <td>Possui arquitetura baseada em componentes;</td>
  </tr>
  <tr>
    <td>Muito utilizado em aplicções de grande porte;</td>
  </tr>
  <tr>
    <td>Compõe o Stack MEAN</td>
  </tr>
  <tr>
    <td>Angular 2+ é uma versão diferente do Angular JS (clássico);</td>
  </tr>
  <tr>
    <td>
      Estrutura de organização do projeto bem definida, pormove simplicidade e
      reaproveitamento de código;
    </td>
  </tr>
  <tr>
    <td>
      Sistema de tooling muito rico: CLI, modulo de HTTP, router e outros;
    </td>
  </tr>
  <tr>
    <td>Integração nativa com TypeScript;</td>
  </tr>
  <tr>
    <td>Mantido pelo Google;</td>
  </tr>
</table>

<h1>O que vai precisar?</h1>
<table>
  <tr>
    <td>Node.js: para instalar o angular, outros pacotes e rodar scripts;</td>
  </tr>
  <tr>
    <td>Um editor de código - por exemplo, VS code</td>
  </tr>
  <tr>
    <td>Abra o terminal Git Bash Here;</td>
  </tr>
  <tr>
    <td>Instalar o CLI do angular com: npm install - g @angular/cli</td>
  </tr>
  <tr>
    <td>
      No terminal utilizando "ng" mostra os comandos disponiveis que podem ser
      executados;
    </td>
  </tr>
  <tr>
    <td>No terminal coloque o caminho onde você quer que abra o projeto;</td>
  </tr>
  <tr>
    <td>Agora é possível criar projetos utilizando: ng new nome_projeto</td>
  </tr>
  <tr>
    <td>No terminal utilizando "ls" mostra o projeto disponível;</td>
  </tr>
  <tr>
    <td>No terminal utilizando "cd" marca o projeto disponível;</td>
  </tr>
  <tr>
    <td>No terminal utilizando ".code" abre o VS Code;</td>
  </tr>
  <tr>
    <td>
      Para abrir o terminal no VS Code - com o botao direito do mouse na aba do
      projeto vai em "open in integrated Terminal";
    </td>
  </tr>
  <tr>
    <td>Para rodar a aplicação vai no terminal utilizando "ng serve";</td>
  </tr>
  <tr>
    <td>
      Pode-se alterar os arquivos dentro da pasta app para refletir mudanças no
      navegador;
    </td>
  </tr>
</table>
